/* Apply not only to the universal selector, but
also include the pseudoelements */
*,
*::before,
*::after {
    /* sets how the total width and height of an element is calculated. */
    /* Include both the border and the padding. Take into account */
    box-sizing: border-box;
}

/* Resetting default styles */
body {
    margin: 0;
    font-family: Helvetica sans-serif;
    background-color: #020824;
}